%h1 ex2
%p Test Test
/ a not exist
- if(!params.has_key?(:a))
  Please give me the parameter "a"
/ b not exist
- if(!params.has_key?(:b))
  Please give me the parameter "b"
/ a & b have parameters
- if(params.has_key?(:a) && params.has_key?(:b))
  - flag1 = true
  - flag2 = true
  /
    trash -> did not delete cuz it's a failure to success
    <haml_silent>		 @x.to_s.each_char{ |c|
    
    if c.class != Integer
    \#flag1 = false
    \#Your parameter (a) is unvalid
    break
    end
    }
    </haml_silent><haml_silent>		 @y.to_s.each_char{ |c|
    
    if c.class != Integer
    \#flag2 = false
    \#Your parameter (a) is unvalid
    break
    end
    }
    </haml_silent><haml_silent>		 if @x.to_i == 0 &amp;&amp; @x.length != 1
    </haml_silent><haml_block>			Your parameter (a) is unvalid
    <br>
    </haml_block><haml_silent>		 if @y.to_i == 0 &amp;&amp; @y.length != 1
    </haml_silent><haml_block>			Your parameter (b) is unvalid
    <br>
    </haml_block>
  - if @x.to_s.to_i.to_s != @x.to_s
    Your parameter (a) is unvalid
    %br/
    - flag1 = false
  - if @y.to_s.to_i.to_s != @y.to_s
    - flag2 = false
    Your parameter (b) is unvalid
    %br/
  / normal sequence
  /
    <haml_loud> flag1 </haml_loud>
    <haml_loud> flag2 </haml_loud>
  - if(flag1 && flag2)
    - for i in @x.to_i..@y.to_i do
      = i
/
  <br>
  <haml_silent> for i in 1..10 do
  </haml_silent><haml_block>	<haml_loud> i*10</haml_loud>
  </haml_block>The current time is <haml_loud> Time.zone.now </haml_loud>
