<h1>Main#abc</h1>
<p>Find me in app/views/main/abc.html.erb</p>

<p> eiei </p>

<b> bold </b>

<br>
<%= (1..10).to_a %> 

<br> 
<% for i in 1..10 do %>
	<%= i*10%>
<% end %>

The current time is <%= Time.zone.now %>